$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
  padding-bottom: 50rem;
}

.page-header {
  font-size: 12rem;
  font-weight: 800;
  line-height: 11rem;
  text-transform: uppercase;
  border: 0;
}

section {
  .page-section-header {
    margin: 3rem 0 2rem;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #3fa9f5;

    .page-section-header-details {
      color: #ccc;
      font-weight: 100;
    }
  }
}

.quotes {
  background-color: #eee;
  border-radius: .5rem;
  padding: 2rem;

  .quote-text {
    font-size: 4rem;
    font-style: italic;
    font-weight: 100;
  }
  .quote-author {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1rem;
    opacity: .8;
  }
}

.principles {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  .principle {
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: 0 !important;


    &:hover {
      background-color: #eee;
      border-radius: 5px;

      .concept-name {
        color: #3fa9f5 !important;
      }
    }

    .concept-icon {
      height: 10rem;
      max-width: 10rem;
      margin-right: auto;
      margin-left: auto;

      img {
        height: 10rem;
        max-width: 10rem;
      }
    }

    .concept-name {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 600;
    }
  }
}

.principle-container {
  border-radius: .5rem;
  position: relative;
  margin-top: 4rem;

  .principle-container-header {

    .panel-title {
      font-weight: 600;
      font-size: 3rem;

      a {
        &:hover {
          text-decoration: none !important;
        }
      }
    }

    .section-number {
      color: #3fa9f5;
      font-weight: 800;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.concept {
  .concept-header {
    margin: 3rem 0;
    font-size: 3rem;
    font-weight: 800;
    opacity: .6;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  .concept-image {
    padding: 0 3rem;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .concept-details {
    .concept-name {
      font-size: 10rem;
      font-weight: 800;
    }

    .concept-description {
      font-size: 4rem;
      margin-top: 3rem;
      font-style: italic;
      font-weight: 100;
    }

    .concept-bullets {
      margin-top: 3rem;
      font-size: 3rem;

      .concept-bullet {
        font-style: italic;
        font-weight: 100;
      }
    }
  }
}